@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  line-height: 1.2;
  overflow-y: auto;
}

body {
  background-color: var(--background-color);
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}
